// color
$theme-green:#2ebf7e;
$button-red:#d2411e;
$button-blue:#4343f4;
$light-gray:#eee;
$mid-light-gray:#ddd;
$gray:#999;
$dark-gray:#666;
$button-hover:rgba(66, 66, 66, 0.5);
$white:#fff;

// font-size
$font-size-sm:12px;
$font-size-xs:10px;